@model PersonViewModel
@{
    ViewData["Title"] = "Delete Person";    
}

<h2>Delete @Model.FirstName @Model.LastName</h2>
<hr />
@using (Html.BeginForm("Confirm", "Person", new { id = Model.Id }, FormMethod.Post))
{
    <h4>Really Delete this Person?</h4>
    <button type="submit" value="Yes" class="btn btn-danger">Yes</button>
    <code>&nbsp;</code>
    @Html.ActionLink("No", "Index", "Home", null, new { @class = "btn btn-secondary", role = "button" })
}